@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn::before {
  content: "";
  position: absolute;
  background-image: url("./bg-style.svg");
  width: 474px;
  height: 256px;
  right: 0;
  top: 0;
  z-index: -1;
  fill: #fff;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));
}

.text-bg {
  font-size: 72px;
  background: -webkit-linear-gradient(right, #bc567d, #6645b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-img {
  position: relative;
}
.hero-img::before {
  content: "";
  position: absolute;
  background-image: url("./CloseUp.png");
  width: 257px;
  height: 154px;
  background-repeat: no-repeat;
  background-size: cover;
  left: 223px;
  top: -2px;
}
.hero-img::after {
  content: "";
  position: absolute;
  background-image: url("./Group-985503.png");
  width: 254px;
  height: 247px;
  background-repeat: no-repeat;
  top: 26px;
  left: -92px;
  z-index: -1;
  rotate: 242deg;
  background-size: contain;
}
.hero-bg {
  top: 308px;
  left: 341px;
}
.hero-bg::before {
  content: "";
  position: absolute;
  background-image: url("./Polygon02.png");
  width: 260px;
  height: 317px;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
  bottom: -2px;
  left: -6px;
  rotate: -14deg;
}
.hero-container::after {
  content: "";
  position: absolute;
  width: 634px;
  height: 858px;
  background: url("./Vector.png");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -2;
  background-size: contain;
  right: 0;
  top: -70px;
}
.hero::before {
  content: "";
  position: absolute;
  width: 526px;
  height: 607px;
  background: url("./Vector-2.2.png");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));
  right: 0px;
  top: 115px;
}
.hero-card-01::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 607px;
  background: url("./Ellipse-992.png");
  background-repeat: repeat;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));

  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  top: -42px;
  left: -52px;
}
.hero-card-02::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 607px;
  background: url("./Ellipse-993.png");
  background-repeat: repeat;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));

  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  top: -62px;
  left: -56px;
}
.hero-card-03::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 607px;
  background: url("./Ellipse-994.png");
  background-repeat: repeat;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));

  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  top: -42px;
  left: -52px;
}
.hero-card::before {
  content: "";
  position: absolute;
  width: 645px;
  height: 808px;
  background: url("./Vector-card.png");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -2;
  background-size: contain;
  left: 0;
  top: -377px;
}

.hero-card-02,
.hero-card-01,
.hero-card-03 {
  max-width: 400px;
  width: 100%;
}

.sec-04 .right::before {
  content: "";
  background-image: url("./Group-985503.png");
  width: 240px;
  height: 500px;
  position: absolute;
  background-repeat: no-repeat;
  top: 25px;
  right: -28px;
  z-index: -1;
}
.sec-06 {
  background: linear-gradient(92deg, #6645b6 2.38%, #bc567d 79.01%);
}
.quality-sec-01::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 600px;
  background: url("./Vector-01.png");
  background-repeat: no-repeat;
  bottom: -480px;
  left: -351px;
  z-index: -1;
}
.quality-sec-01::after {
  content: "";
  position: absolute;
  width: 48%;
  height: 600px;
  background: url("./Vector-02.png");
  background-repeat: no-repeat;
  /* bottom: -480px; */
  /* left: -351px; */
  z-index: -4;

  top: -149px;

  right: 0;
}
.quality-sec-02::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 400px;
  background: url("./Vector-2.3.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));
  left: 0;
  top: -150px;

  z-index: 3;
}
.quality-sec-02::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 800px;
  background: url("./Vector2.2-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));
  right: 0;
  top: -190px;

  z-index: -1;
}
.sec-06::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 360px;
  background: url("./Vector-footer.png");
  background-repeat: no-repeat;
  right: 0;
  top: 0px;
}
.sec-06::after {
  content: "";
  position: absolute;
  width: 84%;
  height: 189px;
  background: url("./Vector-footer-2.png");
  background-repeat: no-repeat;
  left: -400px;
  bottom: 0px;
  z-index: 1;
}
.ecosense-sec-02::before {
  top: -206px;
}
.ecosense-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 447px;
  background: url("./ecosense-bg.png");
  background-repeat: repeat;
  background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  top: -88px;
  left: -182px;
}
.ecosense-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 335px;
  background: url("./ecosense-polygon.png");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
  top: 164px;
  left: -25px;
}
@media (max-width: 1148px) {
  .hero > div:first-child {
    flex-wrap: wrap;
    gap: 4em;
  }
  .hero > div:first-child .hero-img-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: -192px;
  }
  .hero-bg {
    top: 411px;
    left: 91px;
  }

  .sec-04 .right::before {
    content: "";
    background-image: url("./Group-985503.png");
    width: 240px;
    height: 500px;
    position: absolute;
    background-repeat: no-repeat;
    top: 25px;
    right: -16px;
    z-index: -1;
  }
}

@media (max-width: 850px) {
  .hero-card .cards {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .hero-card .cards > div:nth-child(2) {
    margin-top: 240px;
    margin-bottom: -120px;
  }
  .hero-bg {
    max-width: 280px;
    left: 0;
    top: 591px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .hero-card .cards {
    grid-template-columns: 1fr;
  }
  .hero-card .cards > div:nth-child(2) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
  .hero > div:first-child > div:first-child button {
    /* margin-inline: auto; */
    width: 100%;
  }
  .hero > div:first-child > div:first-child h1,
  .hero > div:first-child > div:first-child h1 .text-bg {
    font-size: 42px;
  }
  .hero > div:first-child .hero-img-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 0px;
  }
  .hero > div:first-child .hero-img-container {
    width: 170px;
    margin-left: auto;
  }
  .hero-bg {
    max-width: 200px;
    left: 0;
    top: 352px;
  }
  .hero-bg::before {
    content: "";
    position: absolute;
    background-image: url("./Polygon02.png");
    width: 145px;
    height: 169px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    bottom: -2px;
    left: 0px;
    rotate: -14deg;
  }
  .hero-img::after {
    content: "";
    position: absolute;
    background-image: url("./Group-985503.png");
    width: 138px;
    height: 152px;
    background-repeat: no-repeat;
    top: -16px;
    left: -38px;
    z-index: -1;
    rotate: 242deg;
    background-size: contain;
  }
  .hero-img::before {
    content: "";
    position: absolute;
    background-image: url("./CloseUp.png");
    width: 85px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 77px;
    top: -1px;
  }
  .sec-04 .right::before {
    content: "";
    background-image: url("./Group-985503.png");
    width: 240px;
    height: 243px;
    position: absolute;
    background-repeat: no-repeat;
    top: 25px;
    right: -16px;
    z-index: -1;
  }
  .hero-card::before {
    content: "";
    position: absolute;
    width: 348px;
    height: 808px;
    background: url("./Vector-card.png");
    background-repeat: repeat;
    background-size: auto;
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    z-index: -2;
    background-size: contain;
    left: 0;
    top: -377px;
  }
  .quality-sec-02::after,
  .quality-sec-02::before {
    background-image: none;
  }
  .ecosense-img::after {
    height: 206px;
  }
}
