@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn::before {
  content: "";
  position: absolute;
  background-image: url("public/header/bg-style.svg");
  width: 474px;
  height: 256px;
  right: 0;
  top: 0;
  z-index: -1;
  fill: #fff;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));
}

.text-bg {
  font-size: 72px;
  background: -webkit-linear-gradient(right, #bc567d, #6645b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-img {
  position: relative;
}
.hero-img::before {
  content: "";
  position: absolute;
  background-image: url("./public/hero/CloseUp.png");
  width: 257px;
  height: 154px;
  background-repeat: no-repeat;
  background-size: cover;
  left: 223px;
  top: -2px;
}
.hero-img::after {
  content: "";
  position: absolute;
  background-image: url("/public/hero/Group-985503.png");
  width: 593px;
  height: 532px;
  background-repeat: no-repeat;
  top: 49px;
  left: -337px;
  z-index: -1;
  rotate: 242deg;
  background-size: cover;
}
.hero-bg {
  top: 308px;
  left: 341px;
}
.hero-bg::before {
  content: "";
  position: absolute;
  background-image: url("/public/hero/Polygon02.png");
  width: 260px;
  height: 317px;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
  bottom: -2px;
  left: -6px;
  rotate: -14deg;
}
.hero-container::after {
  content: "";
  position: absolute;
  width: 634px;
  height: 858px;
  background: url("/public/hero/Vector.png");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -2;
  background-size: contain;
  right: 0;
  top: -70px;
}
.hero::before {
  content: "";
  position: absolute;
  width: 526px;
  height: 607px;
  background: url("/public/hero/Vector-2.2.png");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: contain;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));
  right: 0px;
  top: 115px;
}
.hero-card-01::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 607px;
  background: url("/public/hero/Ellipse-992.png");
  background-repeat: repeat;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));

  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  top: -42px;
  left: -52px;
}
.hero-card-02::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 607px;
  background: url("/public/hero/Ellipse-993.png");
  background-repeat: repeat;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));

  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  top: -62px;
  left: -56px;
}
.hero-card-03::before {
  content: "";
  position: absolute;
  width: 215px;
  height: 607px;
  background: url("/public/hero/Ellipse-994.png");
  background-repeat: repeat;
  filter: drop-shadow(0px 4px 250px rgba(0, 0, 0, 0.15));

  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -1;
  top: -42px;
  left: -52px;
}
.hero-card::before {
  content: "";
  position: absolute;
  width: 645px;
  height: 808px;
  background: url("/public/hero/Vector-card.png");
  background-repeat: repeat;
  background-size: auto;
  background-repeat: repeat;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: -2;
  background-size: contain;
  left: 0;
  top: -377px;
}

.hero-card-02,
.hero-card-01,
.hero-card-03 {
  max-width: 400px;
  width: 100%;
}
@media (max-width: 1148px) {
  .hero > div:first-child {
    flex-wrap: wrap;
  }
  .hero > div:first-child .hero-img-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: -192px;
  }
  .hero-bg {
    top: 411px;
    left: 91px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .hero > div:first-child > div:first-child button {
    /* margin-inline: auto; */
    width: 100%;
  }
  .hero > div:first-child > div:first-child h1,
  .hero > div:first-child > div:first-child h1 .text-bg {
    font-size: 42px;
  }
  .hero > div:first-child .hero-img-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 0px;
  }
  .hero > div:first-child .hero-img-container {
    width: 48%;
    margin-left: auto;
  }
  .hero-bg {
    max-width: 250px;
    left: 0;
  }
  .hero-bg::before {
    content: "";
    position: absolute;
    background-image: url("/public/hero/Polygon02.png");
    width: 145px;
    height: 169px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
    bottom: -2px;
    left: 0px;
    rotate: -14deg;
  }
  .hero-img::after {
    content: "";
    position: absolute;
    background-image: url("/public/hero/Group-985503.png");
    width: 428px;
    height: 385px;
    background-repeat: no-repeat;
    top: 49px;
    left: -226px;
    z-index: -1;
    rotate: 242deg;
    background-size: cover;
  }
  .hero-img::before {
    content: "";

    position: absolute;

    background-image: url("/public/hero/CloseUp.png");

    width: 131px;

    height: 76px;

    background-repeat: no-repeat;

    background-size: cover;

    left: 109px;

    top: -2px;
  }
}
@media (max-width: 1393px) {
  .hero-card .cards {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}
